*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    top: 0;
    padding: 25px 150px;
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    /* gap: 50px; */
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    z-index: 999;
    box-shadow: 0px 86px 34px rgba(0, 0, 0, 0.01),
                0px 48px 29px rgba(0, 0, 0, 0.03),
                0px 5px 12px rgba(0, 0, 0, 0.05),
                0px 0px 0px rgba(0, 0, 0, 0.05);
}
header .nav-item-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .nav-item-left li{
    list-style: none;
}
header .nav-item-left li a{
    text-decoration: none;
}
header .nav-item-left li a img{
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}
header .nav-item-left li:nth-child(2){
    width: 0.5px;
    height: 15px;
    background-color: #888;
}
header .nav-item-left li:nth-child(3){
    position: relative;
    background-color: #d84e55;
    border-radius: 0.5rem;
    padding: 5px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* height: 50px; */
    font-size: 0.8rem;
    margin-left: 20px;
    position: relative;
}
header .nav-item-left li:nth-child(3) img{
    /* position: absolute; */
    width: 2.125rem;
    filter: brightness(0) invert(1);
    margin-bottom: 10px;
}
header .nav-item-left li:nth-child(3) span{
    font-weight: 500;
    text-wrap: nowrap;
    color: #fff; 
    position: absolute;
    bottom: 10px;
    left: 20px;
}
header .nav-item-left li:nth-child(4){
    padding: 5px 0;
    margin-right: 20px;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-size: 0.8rem;
    position: relative;
}
header .nav-item-left li:nth-child(4):hover{
    background-color: #fff;
}
header .nav-item-left li:nth-child(4) img{
    width: 2.125rem;
    filter: brightness(0) invert(0);
}
header .nav-item-left li:nth-child(4) span{
    font-weight: 500;
    text-wrap: nowrap;
    color: #d84e55; 
    position: absolute;
    bottom: 0px;
    left: 10px;
}
header .nav-item-left li:nth-child(4) .pop{
    position: relative;
    padding: .125rem 0.25rem;
    background-color: #60b681;
    border-radius: 0.325rem;
    height: 1.063rem;
    width: 3.25rem;
    position: absolute;
    top: -3px;
    right: -15px;
    font-size: 0.67rem;
}
header .nav-item-left li:nth-child(4) .pop span{
    color: #fff;
    position: absolute;
    left: 7px;
    top: 5px;
    /* position: relative; */
    /* bottom: 1px; */
}
header .nav-item-right{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
header .nav-item-right li{
    position: relative;
    list-style-type: none;
    margin-right: 50px;
}
header .nav-item-right li ion-icon{
    font-size: 1.5rem;
    margin-right: 10px;
}
header .nav-item-right li span{
    position: absolute;
    top: 5px;
}
header .nav-item-right li .down{
    position: absolute;
    left: 100px;
    top: 6px;
    font-size: 1rem;
    /* float: right; */
}
.hero{
    width: 100%;
    height: 90vh;
    /* background-color: aliceblue; */
    background-image: url(./media/Homepage-header-2000.jpg);
    background-position: center;
    background-size: contain;
    text-align: center;
    position: relative;
}
.hero h1{
    position: absolute;
    top: 8rem;
    left: 25%;
    font-size: 2rem;
    color: #fff;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.hero .inputs{
    width: 73%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 16rem;
    left: 13%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    /* padding: 0 10px; */
}
/* .inputs img{
    width: 50px;
} */
.inputs .from {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c1c1;
    padding: 10px 5px;
}
.inputs .from img{
    margin-left: 15px;
    width: 30px;
}
.inputs .from label{
    position: absolute;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: #888;
    top: 30px; 
    left: 60px;
}
.inputs .from input{
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}
.inputs .from input::placeholder{
    font-size: 1rem;
}
.inputs .to{
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c1c1;
    padding: 10px 5px;
}
.inputs .to img{
    margin-left: 5px;
    width: 30px;
}
.inputs .to label{
    position: absolute;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: #888;
    top: 30px; 
    left: 50px;
}
.inputs .to input{
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}
.inputs .to input::placeholder{
    font-size: 1rem;
}
.inputs .date{
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c1c1;
    padding: 10px 20px;
}
.inputs .date img{
    margin-left: 5px;
    width: 30px;
}
.inputs .date label{
    position: absolute;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: #888;
    top: 30px; 
    left: 65px;
}
.inputs .date input{
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}
.inputs .submit{
    /* margin-left: 10px; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d84e55;
}
.inputs .submit a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-transform: uppercase;
    font-weight: 700;
}
.offer{
    position: relative;
    width: 100%;
    height: 35vh;
    /* background-color: aliceblue; */
    padding: 0 150px;
}
.offer .offerbox{
    position: absolute;
    top: -50px;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;;
    overflow: hidden;
}
.offer .offerbox h1{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 1.75rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.offer .offerbox a{
    position: absolute;
    top: 30px;
    right: 50px;
    padding: 10px 24px;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(16, 52, 217);
    font-weight: 600;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.offer .offerbox .slider{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63%;
    /* background-color: #60b681; */
    display: flex;
    gap: 1.5rem;
    margin-top: 10px;
    padding: 0px 20px;
    overflow: scroll hidden;
    scroll-behavior: smooth;
}
.offer .offerbox .slider .box{
    display: flex;
    min-width: 20rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
}
.offer .offerbox .slider .box .leftimg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer .offerbox .slider .box .leftimg img{
    border-radius: 50%;
}
.offer .offerbox .slider .box .rightcontent{
    position: relative;
    width: 60%;
    height: 100%;
     /* background-color: #60b681; */
}
.offer .offerbox .slider .box .rightcontent span{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    font-size: 12px;
    text-align: center;
}
.offer .offerbox .slider .box .rightcontent h3{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.offer .offerbox .slider .box .rightcontent p{
    font-size: 12px;
    line-height: 1rem;
    font-weight: 400;
}
.offer .offerbox .slider .box .rightcontent a{
    position: relative;
    left: 0px;
    top: 0;
    margin-top: 5px;
    border: 1px dashed rgb(255, 255, 255);
    border-radius: 0.25rem;
    max-width: 140px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.125rem 0.5rem;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.offer .offerbox .slider .box .rightcontent ion-icon{
    /* margin-top: 5px; */
    font-size: 1.25rem;
}
.offer .offerbox .slider .second{
    background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
}
.offer .offerbox .slider .third{
    background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
}
.offer .offerbox .slider .forth{
    background-image: linear-gradient(71.04deg, rgb(14, 113, 67) -6.92%, rgb(115, 236, 179) 109.43%);;
}
.offer .offerbox .slider .fifth{
    background-image: linear-gradient(71.04deg, rgb(24, 125, 151) -6.92%, rgb(109, 213, 237) 109.43%);
}
.offer .offerbox .slider .sixth{
    background-image: linear-gradient(71.04deg, rgb(206, 119, 0) -6.92%, rgb(255, 194, 111) 109.43%);
}
.restpage{
    padding: 0 150px;
    position: relative;
    width: 100%;
    height: 75vh;
    /* background-color: aliceblue; */
}
.restpage .pagecontents{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #60b681; */
}
.restpage .pagecontents h1{
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 2.5rem;
    color: #1d1d1d;
    font-style: normal;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
}
.restpage .pagecontents a{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px 24px;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(16, 52, 217);
    font-weight: 600;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}
.restpage .state-service-section{
    display: block;
    position: absolute;
    top: 150px;
    width: 100%;
    height: 40vh;
    /* background-color: #60b681; */
    padding: 15px;
    display: flex;
    gap: 1.5rem;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    /* scrollbar-width: none; */
}
.restpage .pagecontents .state-service-section .state-box{
    position: relative;
    width: 30rem;
    height: 100%;
    background: #fae9ea;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 1px 12px 0 rgba(29, 29, 29, .1)
    /* overflow: hidden; */
}
.restpage .pagecontents .state-service-section .state-box .topbox{
    min-width: 480px;
    height: 210px;
    background-color: #fff;
    border-radius: 16px;
}
.restpage .pagecontents .state-service-section .state-box .top{
    position: relative;
    width: 100%;
    /* height: 20px; */
    padding: 16px;
    border-bottom: 1px solid #e5e5e5 ;
    display: flex;
}
.restpage .pagecontents .state-service-section .state-box .top img{
    border-radius: 50%;
}
.restpage .pagecontents .state-service-section .state-box .top .statename{
    margin-left: 10px;
    width: 80%;
    height: 35px;
    /* border-right: 1px solid red; */
    /* background-color: #1d1d1d; */
    display: flex;
    gap: 12px;
}
.restpage .pagecontents .state-service-section .state-box .top .statename h2{
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: 1.5rem; */
    color: #1d1d1d;
}
.restpage .pagecontents .state-service-section .state-box .top .statename .ratingbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 3px 6px;
    color: #fff;
    background: #007b2d;
    border-radius: 8px;
}
.restpage .pagecontents .state-service-section .state-box .top .languagedescription{
    position: absolute;
    /* padding: 2px; */
    left: 90px;
    top: 55px;
    width: max-content;
    height: 35px;
    color: rgb(111, 111, 111);
    margin-top: 4px;
    font-size: 1.125rem;
    font-weight: 500;
}
.restpage .pagecontents .state-service-section .state-box .bottombox{
    position: relative;
    width: 100%;
    padding: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.restpage .pagecontents .state-service-section .state-box .bottombox h2{
    position: relative;
    /* bottom: 0px; */
    margin: 0 4rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 400;
}
.restpage .pagecontents .state-service-section .state-box .topbox .lastinbox{
    position: relative;
    bottom: 0px;
    /* left: 20px; */
    width: 100%;
    height: 28px;
    /* background-color: #007b2d; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.restpage .pagecontents .state-service-section .state-box .topbox .lastinbox .contentsinside{
    width: 80%;
    height: 100%;
    background: #f2f2f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
}
.restpage .pagecontents .state-service-section .state-box .bottomtext{
    position: absolute;
    bottom: 5px;
    left: 40px;
    text-align: center;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    color: rgb(29, 29, 29);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif */
}
.trainsection{
    width: 100%;
    height: 100vh;
    padding: 25px 150px;
}
.trainsection .aboutbox{
    width: 100%;
    height: 100%;
    /* background-color: #007b2d; */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.trainsection .aboutbox .aboutleft{
    width: 45%;
    height: 100%;
    /* background-color: #1d1d1d; */
    display: flex;
    flex-direction: column;
}
.trainsection .aboutbox .aboutleft h2{
    /* background-color: #007b2d; */
    width: 30.2rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.75rem;
    color: rgb(29, 29, 29);
    padding: 10px;
    margin-bottom: 30px;
}
.trainsection .aboutbox .aboutleft .aboutleftsecond{
    width: 50%;
    padding: 0.875rem 1rem;
    /* background-color: #007b2d; */
    border-bottom: 3px solid #d84e55;
    border-radius: 0px 0px 3px 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}
.trainsection .aboutbox .aboutleft .aboutleftsecond img{
    filter: none;
    opacity: 1;
    width: 3.125rem;
    height: 1.75rem;
}
.trainsection .aboutbox .aboutleft .aboutleftsecond span{
    width: 8.125rem;
    color: #d84e55;
    font-size: 1.25rem;
    font-weight: 500;
}
.trainsection .aboutbox .aboutleft .aboutleftthird{
    width: 100%;
    height: 35vh;
    /* background-color: #007b2d; */
    font-family: monospace;
}
.trainsection .aboutbox .aboutleft .aboutleftthird p{
    width: 550px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.125rem;
    color: rgb(29, 29, 29);
    margin-bottom: 1.5rem
}
.trainsection .aboutbox .aboutleft .aboutleftthird div{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    width: 100%;
    margin-bottom: 1rem;
}
.trainsection .aboutbox .aboutleft .aboutleftthird div img{
    width: 30px;
    height: 30px;
}
.trainsection .aboutbox .aboutleft .aboutleftthird div span{
    font-weight: 700;
    font-size: 1rem;
    line-height: 17px;
    color: rgb(29, 29, 29);
}
.trainsection .aboutbox .aboutleft a{
    padding: 0.9rem 1rem;
    width: max-content;
    background-color: #d84e55;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    line-height: 24px;
}
.trainsection .aboutbox .aboutright{
    width: 50%;
    height: 100%;
    background-image: url(./media/aboutUsImgoverlay.svg);
    background-repeat: no-repeat;
}
.aboutapp{
    width: 100%;
    height: 100vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutapp .aboutappbox{
    width: 100%;
    height: 65vh;
    background-color: #666;
    border-radius: 48px;
    background-image: url(./media/appInstallbg.svg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.aboutapp .aboutappbox .aboutapptop h1{
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.aboutapp .aboutappbox .aboutappbottom{
    width: 100%;
    height: 100%;
    /* background-color: #007b2d; */
    display: flex;
    align-items: center;
    gap: 4rem;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox{
    width: 23.5rem;
    padding: 3rem 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .twolistbox{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .twolistbox div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .twolistbox div span{
    font-size: 1.25rem;
    line-height: 22px;
    font-weight: 600;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription{
    width: 100%;
    /* height: 50px; */
    /* background-color: #007b2d; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .left{
    width: 50%;
    height: 100%;
    /* background-color: #1d1d1d; */
    border-right: 1px solid #666;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .left h3{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .left p{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .left h5{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .right{
    width: 50%;
    height: 100%;
    /* background-color: #1d1d1d; */
    padding-left: 10px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .right h3{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .right p{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .whitebox .downloaddescription .right h5{
    margin-bottom: 5px;
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions{
    width: 20rem;
    padding: 2rem 0;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .qrbox{
    width: 106px;
    height: 106px;
    /* background-color: #007b2d; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .qrbox h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255)
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .qrbox img{
    width: 100%;
    height: 100%;
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .downloadplatform{
    width: 106px;
    /* height: 106px; */
    /* background-color: #007b2d; */
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .downloadplatform h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.aboutapp .aboutappbox .aboutappbottom .downloadappoptions .downloadplatform img{
    margin-bottom: 10px;
}
.primo{
    width: 100%;
    height: 100vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primo .primobox{
    width: 1200px;
    height: 552px;
    background-color: rgb(251, 202, 65);
    border-radius: 2.5rem;
    /* background-image: url(./media/appInstallbg.svg); */
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 2rem; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
}
.primo .primobox .imgsection{
    width: 50rem;
    height: 34.5rem;
    background-color: #007b2d;
    border-radius: 2.2rem 0 0 2.5rem;
}
.primo .primobox .primodescription{
    width: 482px;
    height: 100%;
    border-radius: 2.5rem;
    background-color: rgb(35, 48, 88);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 2.625rem;
}
.primo .primobox .primodescription .description{
    width: 100%;
    /* height: 50px; */
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    gap: 1.5rem ;
}
.primo .primobox .primodescription .description .icon img{
    width: 4rem;
}
.primo .primobox .primodescription .description .icondescription{
    width: 100%;
    height: 100%;
    /* background-color: #007b2d; */
    display: flex;
    flex-direction: column;
}
.primo .primobox .primodescription .description .icondescription h1{
    color: #fff;
}
.primo .primobox .primodescription .description .icondescription p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.7rem;
}
.globalpresence{
    width: 100%;
    height: 75vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
}
.globalpresence .countrybox{
    width: 100%;
    height: 100%;
    /* background-color: #60b681; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    /* position: relative  ; */
}
.globalpresence .countrybox h1{
    /* position: absolute;
    top: 10rem; */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    color: #1d1d1d;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.globalpresence .countrybox .countrylistbox{
    width: 100%;
    height: 15rem;
    /* background-color: #007b2d; */
    display: flex;
    gap: 2rem;
    overflow: hidden;
}
.globalpresence .countrybox .countrylistbox .singlecountrybox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.globalpresence .countrybox .countrylistbox .singlecountrybox:hover .countryname{
    background-color: #eee;
}
.globalpresence .countrybox .countrylistbox .singlecountrybox .down{
    width: max-content;
    text-align: center;
    border-radius: 1rem;
    color: #1d1d1d;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.6rem 1rem;
}
.bookticketarticle{
    width: 100%;
    height: 75vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
}
.bookticketarticle .articlebox{
    width: 100%;
    height: 100%;
    /* background-color: #60b681; */
}
.bookticketarticle .articlebox h2{
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1d;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.bookticketarticle .articlebox p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #1d1d1d;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}
.bookticketarticle .articlebox p span{
    text-transform: capitalize;
    color: blue;
    cursor: pointer;
}
.busbookingsection{
    width: 100%;
    height: 80vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
}
.busbookingsection .busbookingmainbox{
    width: 100%;
    height: 100%;
    /* background-color: #60b681; */
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.busbookingsection .busbookingmainbox h1{
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1d;
    margin: 1rem 0;
}
.busbookingsection .busbookingmainbox p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #1d1d1d;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}
.busbookingsection .busbookingmainbox .booknowbox{
    width: 100%;
    /* height: 100px; */
    /* background-color: #666; */
    padding: 1.75rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 1.25rem;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.busbookingsection .busbookingmainbox .booknowbox img{
    width: 4.5rem;
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent{
    display: flex;
    flex-direction: column;
    /* width: 30rem; */
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1d1d1d;
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent h3 span{
    color: #d84e55;
    font-size: 1.75rem;
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent .busdescribe{
    width: 100%;
    /* height: 20px; */
    /* background-color: #1d1d1d;    */
    display: flex;
    text-wrap: nowrap;
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent .busdescribe .describe{
    width: 32%;
    /* height: 15px; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding: 0 10px; */
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent .busdescribe .describe p{
    font-size: 1rem;
}
.busbookingsection .busbookingmainbox .booknowbox .midcontent .busdescribe .describe span{
    color: #d84e55;
    font-size: 1.5rem;
    font-weight: 600;
}
.busbookingsection .busbookingmainbox .booknowbox button{
    background-color: #d84e55;
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    height: 3rem;
    width: 9.325rem;
    cursor: pointer;
    margin-right: 1.5rem;
    border: none;
}
.faqsection{
    width: 100%;
    min-height: 100vh;
    /* background-color: #007b2d; */
    padding: 0 150px;
    /* margin: 25px 0px; */
    margin-bottom: 25px;
}
.faqsection .faqinner{
    padding: 100px 0;
    width: 100%;
    height: 100%;
    /* background-color: #60b681; */
}
.faqsection .faqinner h1{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #1d1d1d;
    margin: 0 0 2.5rem 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.faqsection .faqinner ul{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: #1d1d1d; */
    gap: 2rem;
    font-size: 1.2rem;
}
.faqsection .faqinner ul li{
    list-style: none;
}
.faqsection .faqinner ul li a:hover{
    border-bottom: 1px solid #1d1d1d;   
}
/* .faqsection .faqinner ul li a .first{
    color: #d84e55;
} */
.faqsection .faqinner ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #1d1d1d;
    /* font-size: 2.5rems; */
    padding: 10px 0;
    font-weight: 400;
}

/* ------------------------ */
details {
    border: 1px solid rgba(112,112,112,0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom:10px;
    cursor:pointer;
    margin-top: 25px;
    /* padding: 20px; */
  }
  summary {
    font-weight: 600;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    list-style-type:"+";
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-transform: capitalize;
  }
  details[open] {
    /* padding-left: 1rem;  */
    /* border:none; */
    background-color:rgba(197, 204, 206, 0.338);
  }
  summary::marker{
    color: #0000ff;
    font-size: 1.2em;
    margin-right:20px;
  }
  /* details:hover{
     background-color:	 rgba(173,216,230,0.5);
  } */
  details summary::after{
    content:"+";
    float:right;
    font-size:1.2em;
    color:green;
  }
  details[open] summary::after{
    content:"-";
    float:right;
    font-size:1.5em;
    color:green;
  }
  .faqs-container p{
    text-transform: capitalize;
  }